*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    list-style-type: none;
    font-family: 'Nunito', sans-serif;
}
body{
    background-color: #ffffff;
}
.main-content{
    min-height: 100vh;
    width: 80%;
    margin: 2rem auto;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}
.left-section{
    grid-column: span 1;
    height: 100%;
    background-color: #0d285a;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    
}
.right-section{
    grid-column: span 6;
    background-color: #f7f7f7;
    height: 100%;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 6px;
    border: solid 1px #979b9c;
}
.left-content{
    /* padding: 2rem 3rem; */
}
.skills-section > ul >li{
    text-align: right;
    padding-right: 10px;
}
.skill-title1{
    text-transform: lowercase;
    color: #f7f7f7;
    font-size: 1rem;
    margin-top: 200%;
}
.skill-title2{
    text-transform: lowercase;
    color: #f7f7f7;
    font-size: 1rem;
    margin-top: 100%;
}
.skill-title3{
    text-transform: lowercase;
    color: #f7f7f7;
    font-size: 1rem;
    margin-top: 120%;
}
.skill-title4{
    text-transform: lowercase;
    color: #f7f7f7;
    font-size: 1rem;
    margin-top: 300%;
}
.skill-title5{
    text-transform: lowercase;
    color: #f7f7f7;
    font-size: 1rem;
    margin-top: 20%;
    margin-bottom: 60%;
}


.right-main-content{
    padding: 2rem 3rem;
}
.right-title{
    letter-spacing: 2px;
    text-transform: auto;
    color: #0d285a;
    font-size: 40px;
    font: bold;
}
.sub-title{
    letter-spacing: 2px;
    text-transform: auto;
    color: #3a62ac;
    font-size: 20px;
    margin-top: 10px;
    
}
.flex-container {
    display: flex;
    flex-wrap: wrap;
    font-size: 20px;
    text-align: left;
  }
  .flex-item-left {
    padding-left: 50px;
    flex: 8%;
  }
  .flex-item-right {
    padding-right: 300px;
    flex: 50%;
  }
  .flex-item-left li i{
    padding-right: 1rem;
    font-size: 1.1rem;
    color: #2D9CDB;
  }
  .flex-item-right li i{
    padding-right: 1rem;
    font-size: 1.1rem;
    color: #2D9CDB;
  
  /* Responsive layout - makes a one column-layout instead of a two-column layout */
  @media (max-width: 800px) {
    .flex-item-right, .flex-item-left {
      flex: 100%;
    }